[submodule "deps/rust-kernel-rdma"]
	path = deps/rust-kernel-rdma
	url = https://gitlab-runner-ci:zjpcT5ust2CfE6PNRsXB@ipads.se.sjtu.edu.cn:1312/distributed-rdma-serverless/kernel-rdma/rust-kernel-rdma
[submodule "deps/gflags"]
	path = deps/gflags
	url = https://github.com/gflags/gflags.git
[submodule "deps/hashbrown"]
	path = deps/hashbrown
	url = https://ipads.se.sjtu.edu.cn:1312/distributed-rdma-serverless/mitosis-project/hashbrown.git
[submodule "deps/krcore"]
	path = deps/krcore
	url = https://ipads.se.sjtu.edu.cn:1312/distributed-rdma-serverless/krcore.git
