[submodule "deps/gflags"]
	path = deps/gflags
	url = https://github.com/gflags/gflags.git
[submodule "deps/hashbrown"]
	path = deps/hashbrown
	url = https://github.com/ProjectMitosisOS/hashbrown.git
[submodule "deps/krcore"]
	path = deps/krcore
	url = https://github.com/SJTU-IPADS/krcore-artifacts.git
